nav {
  display: flex;
  padding: 0.25em;
  justify-content: flex-end;
  margin: 0.5em;
}

nav a {
  text-decoration: none;
  padding: 0.75em;
  color: #5badf0;
}

nav a:last-child {
  background-color: #5badf0;
  color: white;
  border-radius: 20%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

header {
  text-align: center;
}

img {
  border-radius: 50%;
  width: 70px; height:70px;
}

h1 {
  font-size: 3em;
  color: #222;
  font-weight: 600;
  letter-spacing: -2px;
}

h2 {
  font-size: 20px;
  /* font: italic 19px/1.3em Georgia,serif; */
  color: #aaa;
  font-style: normal;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 em {
  color: pink;
  font-weight: bolder;
  font-style: normal;
}

h3 {
  text-align: center;
}

section {
  /* display: flex; */
  /* align-items: baseline; */
  /* justify-content: center; */
}

article {
  display: flex;
}

p {

}
